<!DOCTYPE html>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %} - cc.io</title>
<nav>
    <h1>cc.io</h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span></li>
            <li><a href="{{ url_for('signout') }}">Sign out</a></li>
        {% else %}
            <li><a href="{{ url_for('signup') }}">Sign up</a></li>
            <li><a href="{{ url_for('signin') }}">Sign in</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}
</section>
