
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Sign up{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" action="/signup">
        <input name="username" id="username" required/>
        <input type=password name="password" id="password" required/>
        <input type=password name="password_repeat" id="password_repeat" required/>
        <input type="submit" value="Sign up"/>
    </form>
    <p><a href="{{ url_for('signin') }}">Sign in</a></p>
{% endblock %}